#RewriteEngine On # Turn on the rewriting engine 
#RewriteRule ^search/(.*)  /index.php?key=$1 [QSA,L]
#RewriteRule ^details/(.*)/(.*)  /show.php?t=$1&id=$2 [QSA,L]
#RewriteRule ^page/(.*)  /page.php?id=$1 [QSA,L]
#ErrorDocument 404 http://superfruithealth.com/404.php